<% @l_books.each do |book| %>
  <p><%= book.id %>
  <%= book.name %>
  <%= book.IBN %>
  <%= book.available %>
  <%= book.library_id %></p>
<% end %>

  <%= link_to "Create Book", "/libraries/#{@library.id}/books/new" %>
  <%= link_to "Alphabetical", "/libraries/#{@library.id}/books?alpha=true" %>
